.idea
.venv
apps
apps/smartbit/web/node_modules/*
apps/smartbit/web/node_modules/
projects/smartbit-robot/logs
projects/smartbit-robot/node_modules
projects/smartbit-robot/.venv
projects/smartbit-robot/.idea
projects/smartbit-robot/libs
projects/appium-qax/*
projects/smartbit-robot/mobile/logs
projects/smartbit-robot/mobile/node_modules
projects/smartbit-robot/services/logs
projects/smartbit-robot/web/*
projects/qax-alpha/qax-alpha.apk
projects/qax-alpha/__MACOSX/._qax-alpha.apk
projects/smartbit-robot/mobile/app/smartbit-beta.apk
projects/smartbit-robot/mobile/app/__MACOSX/._smartbit-beta.apk
